@import '../../marketplace.css';

.root {
  margin: 0;
  padding: 0;
  border: none;
}

.list {
  margin: 0;
}

.twoColumns {
  @media (--viewportMedium) {
    columns: 2;
  }
}

.selectHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourEnd,
.hourStart {
  flex: 0 0 49%;
  max-width: 49%;
}

.quantityErrorText {
  font-size: 16px;
  color: red;
  margin: 5px 0 10px;
}

.twoColumnWQ {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  @media (min-width: 760px) {
    padding: 0;
  }
  @media (min-width: 769px) {
    max-width: 385px;
  }
}

.labelQuantity {
  text-align: right;
  padding-right: 20px;
}
