@import '../../marketplace.css';
.root {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--matterColorNegative);
  width: 100%;
  padding: 24px 24px 42px 24px;
  background-color: var(--matterColorBright);
  @media (--viewportMedium) {
    padding: 0 24px 33px 24px;
  }
  @media (--viewportLarge) {
    padding: 0 0 81px 0;
    border-top: none;
  }
}
.topBorderWrapper {
    @media (--viewportMedium) {
      padding-top: 41px;
    }
    @media (--viewportLarge) {
      padding-top: 73px;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: var(--matterColorNegative);
    }
  }
  .searchblock {
    color: #091F2F;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    left: 80%;
    width: 375px;
    height: 450px;
    overflow: visible;
    background-color: #FFFFFF;
  }
  .searchblock p.title {
    font-weight: 700;
    margin-bottom: 0px;
    width: 277px;
    height: 35px;
    overflow: visible;
    font-family: 'sofiapro', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-style: normal;
  }

  .searchblock span.subtitle {
    width: 353px;
    height: 17px;
    overflow: visible;
    font-family: 'sofiapro', Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
  }

  .searchblock .hotdeskbutton {

    /* Dimensions */
    display: inline-block;
    width: 108px;
    height: 47px;
    margin-right: 13.5px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 15px;

    transition: all var(--transitionStyleButton);
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      background-color: #2ecc72;
      color: white;
      box-shadow: var(--boxShadowButton);
      transform: scale(1.1);
      type: "spring";
      delay: 1;
      stiffness: 500;
      damping: 60;
      mass: 1;
    }
    &:disabled {
      background-color: var(--matterColorNegative);
      color: var(--matterColorLight);
      cursor: not-allowed;
      box-shadow: none;
    }
}

.searchblock .meetingroombutton {
  display: inline-block;
  width: 108px;
  height: 47px;
  margin-right: 13.5px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 15px;

  transition: all var(--transitionStyleButton);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: #2ecc72;
    color: white;
    box-shadow: var(--boxShadowButton);
    transform: scale(1.1);
    type: "spring";
    delay: 1;
    stiffness: 500;
    damping: 60;
    mass: 1;
  }
  &:disabled {
    background-color: var(--matterColorNegative);
    color: var(--matterColorLight);
    cursor: not-allowed;
    box-shadow: none;
  }
}
.searchblock .privateofficebutton {
  display: inline-block;
  width: 108px;
  height: 47px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 15px;

  transition: all var(--transitionStyleButton);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-color: #2ecc72;
    color: white;
    box-shadow: var(--boxShadowButton);
    transform: scale(1.1);
    type: "spring";
    delay: 1;
    stiffness: 500;
    damping: 60;
    mass: 1;
  }
  &:disabled {
    background-color: var(--matterColorNegative);
    color: var(--matterColorLight);
    cursor: not-allowed;
    box-shadow: none;
  }
}


  .searchblock .area {
    display: block;
    width: 354px;
    height: 47px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    text-align: left;
    margin-bottom: 14px;
    padding-left: 0px;
    padding-top: 11.75px;
  }

  .search {
  color: white;
}

  .searchblock .bookingplan {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    width: 354px;
    height: 47px;
    overflow: visible;
    background-color: #ffffff;
    border: 0px solid #dbdbdb;
    margin-bottom: 14px;
    padding-left: 0px;
    padding-top: 11.75px;
  }

  .time {
  border-color: black;
  color: transparent;
}

  .searchblock .startdate {
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    width: 354px;
    height: 47px;
    overflow: visible;
    background-color: #ffffff;
    border: 0px solid #dbdbdb;
    margin-bottom: 14px;
    padding-left: 0px;
    padding-top: 11.75px;
  }


  .searchblock .datetime {
    margin-bottom: 12px;
  }
  .searchblock span.label {
    width: 300px;
    height: 17px;
    overflow: visible;
    font-family: 'sofiapro', Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
  }

  .searchblock span.buttonlabel {
      width: 300px;
      height: 17px;
      overflow: visible;
      font-family: 'sofiapro', Helvetica, Arial, sans-serif;
      color: black;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 42px;
      font-weight: var(--fontWeightSemiBold);
      text-align: center;
      text-indent: 50%;
    }

    .heroButton {
      @apply --marketplaceButtonStyles2;
      @apply --SectionHero_animation;
      background-color: #2ecc71 !important;
      animation-delay: 0.8s;
      height: 0px !important;

      @media (--viewportMedium) {
        display: block;
        width: 100%;
      }
    }

    .heroText {
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  .searchblock input, .searchblock select {
    font-family: 'sofiapro', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    display: block;
    width: 354px;
    height: 47px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    text-align: left;
    margin-bottom: 14px;
    padding-left: 0px;
    padding-top: 11.75px;

  }
  .searchblock input:focus, .searchblock select:focus {
    outline-color: #0983F0;
  }
  .searchblock input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 354px;
    height: 47px;
    overflow: visible;
    background-color: #ffffff;
    border: 0px solid #dbdbdb;
    margin-bottom: 14px;
    padding-left: 0px;
    padding-top: 11.75px;
  }
  .searchblock select {
    height: 40px;
    font-size: 16px;
  }
  .searchblock .datetime .container-datetime {
    display: flex;
    flex-direction: row;
  }
  .searchblock .datetime .container-datetime .container-date, .container-time {
    display: flex;
    flex-direction: column;
  }
  .searchblock .datetime .container-datetime .container-date {
    width: 129px;
    margin-right: 12px;
  }
  .searchblock .datetime .container-datetime .container-time {
    width: 81px;
  }
  .searchblock button.btn.primary {
    background: black;
    color: #E7E7E7;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    font-size: 20px;
    padding: 8px 0;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
  }
  .searchblock button.btn.primary:hover {
    background: #036AC5;
  }
  .searchblock button.btn.primary:focus {
    outline: none;
  }
  /* End of styling for the first search block */
  /* DROPDOWN
  ============================================ */
  .ddwrapper {
    min-height: 38px;
    flex-wrap: wrap;
    @apply  --marketplaceH4FontStyles;
    outline: none !important;
    }
  .ddheader {
      background-color: white;
    border-color:  #202020;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    color:  #202020;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
      cursor: pointer;
      width: 100%;
      padding: 0 20px;
    }
  .arrowup {
      border: solid  #202020;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      float:right;
      margin: 9px;
      transition: transform .2s ease-in,-webkit-transform .2s ease-in;
      -webkit-transform: rotate(-135deg);
    }
   .arrowdown {
    border: solid   #202020;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    float: right;
    margin: 9px;
    transform: rotate(45deg);
    transition: transform .2s ease-in,-webkit-transform .2s ease-in;
    }
    .ddlist {
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
      padding: 0;
      margin: 0;
      width: 100%;
      margin-top: 20px;
    }
    .button {
      justify-content: space-between;
      background-color: white;
      font-size: 16px;
      padding: 15px 20px 15px 20px;
      border: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;
      text-align: left;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      outline: none !important;
    }
      .button:hover{
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
      }
      .button:focus {
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
        outline: none !important;
      }
        .text {
        position: relative;
        background-color: white;
        border-color: #202020;
        color:  #202020;;
        font-weight: normal;
        font-size: 16px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        padding: 0 20px;
        margin: 0;
        width: 100%;
          @media (--viewportMedium) {
            max-width: auto;
          }
        }
