@import '../../marketplace.css';

.root {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--matterColorNegative);

  width: 100%;
  padding: 24px 24px 42px 24px;
  background-color: var(--matterColorBright);

  @media (--viewportMedium) {
    padding: 0 24px 33px 24px;
  }

  @media (--viewportLarge) {
    padding: 0 0 81px 0;
    border-top: none;
  }
}

.topBorderWrapper {
    @media (--viewportMedium) {
      padding-top: 41px;
    }
  
    @media (--viewportLarge) {
      padding-top: 73px;
  
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: var(--matterColorNegative);
    }
  }
  .searchblock {
    color: #091F2F;
    background: #e7e7e7;
    width: 246px;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    left: 80%;
  }
  
  .searchblock span.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  .searchblock .area {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  
  .searchblock .datetime {
    margin-bottom: 12px;
  }
  
  .searchblock span.label {
    margin-bottom: 4px;
  }
  
  .searchblock input, .searchblock select {
    box-shadow: inset 0 3px 0 0 hsla(0,0%,82%,.4);
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    font-size: 16px;
    color: #091F2F;
  }
  
  .searchblock input:focus, .searchblock select:focus {
    outline-color: #0983F0;
  }
  
  .searchblock input {
    height: 38px;
    padding: 0 0 0 12px;
  }
  
  .searchblock select {
    height: 40px;
    font-size: 16px;
  }
  
  .searchblock .datetime .containerdatetime {
    display: flex;
    flex-direction: row;
  }
  
  .searchblock .datetime .containerdatetime .containerdate, .containertime {
    display: flex;
    flex-direction: column;
  }
  
  .searchblock .datetime .containerdatetime .containerdate {
    width: 129px;
    margin-right: 12px;
  }
  
  .searchblock .datetime .containerdatetime .containertime {
    width: 81px;
  }
  
  .searchblock button.btn.primary {
    background: black;
    color: #e7e7e7;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    font-size: 20px;
    padding: 8px 0;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
  }
  
  .searchblock button.btn.primary:hover {
    background: #036ac5;
  }
  
  .searchblock button.btn.primary:focus {
    outline: none;
  }
  /* End of styling for the first search block */
  
  