@import '../../marketplace.css';

.root {
  margin: 23px 0;
  padding: 0 5px;
}

.svg {
  width: 17px;
  height: 17px;
  display: inline-block;
}

.historyBackButton {
  margin-left: 7px;
  font-size: 16px;
  display: none;

  @media (--viewportMedium) {
    display: inline-block;
  }
}

.backButtonContainer {
  height: 88%;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  flex-shrink: 0;

  &:hover,
  &:focus {
    color: #000000;
    transition: ease-in-out 0.1s;
  }

  @media (--viewportMedium) {
    &:hover,
    &:focus {
      border-bottom: 4px solid #000000;
    }
  }
}