@import '../../marketplace.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  padding-top: 1px;
  border: none;
}

.title {
  margin-bottom: 24px;
}

.list {
  margin: 10px 0 0;
}

.error {
  color: var(--failColor);
}

.calendarWrapper {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.days {
  padding: 0;
  margin-bottom: 15px;
}

.item {
  margin-bottom: 20px;
  display: flex;
}

.labelHolder {
  width: 130px;
  padding-top: 3px;
  @media (--viewportMedium) {
    width: 150px; 
  }
}

.availLabel {
  font-size: 20px;
}

.labelHolder span {
  font-size: 20px;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;
}

.label {
  font-size: 20px;
}

.selectHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourEnd,
.hourStart {
  width: 120px;
  padding: 0 10px;
  @media (--viewportMedium) {
    width: 130px; 
  }
}


@media (--viewportMedium) {
  .title {
    margin-bottom: 32px;
  }
}

@media (--viewportLarge) {
  .calendarWrapper {
    flex-grow: 0;
    margin-bottom: 24px;
  }
  .submitButton {
    display: inline-block;
    width: 241px;
    margin-top: 86px;
  }
}

.rentalTypesList {
  margin: 15px 0;
}

.rentalTypesList span {
  font-size: 20px;
}

.weekdaysErrorText {
  font-size: 16px;
  color: red;
  margin: 5px 0 10px;
}