@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.bookingDates {
  flex-shrink: 0;
  margin-bottom: 20px;

  /* Ensure that calendar dropdown gets some stacking context relative to other form items below */
  z-index: 1;
}

.paymentMethod {
  margin-top: 12px;
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.priceBreakdownContainer {
  padding: 0 24px;
  margin-bottom: 40px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.priceBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);

  margin-top: 20px;
  margin-bottom: 10px;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.receipt {
  flex-shrink: 0;
  margin: 0 0 24px 0;
}

.error {
  color: var(--failColor);
  margin: 0 24px;
  display: inline-block;
}

.timeSlotsError {
  @apply --marketplaceH4FontStyles;
  color: var(--failColor);
  margin: 0 24px 12px 24px;

  @media (--viewportMedium) {
    margin: 0 0 12px 0;
  }
}

.smallPrint {
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);
  text-align: center;
  margin: auto 24px 20px 24px;
  flex-shrink: 0;

  @media (--viewportMedium) {
    margin-top: auto;
    margin-bottom: 20px;
  }

  @media (--viewportLarge) {
    margin-top: 4px;
    margin-bottom: 21px;
  }
}

.submitButtonWrapper {
  flex-shrink: 0;
  padding: 0 24px 24px 24px;
  width: 100%;

  @media (--viewportMedium) {
    padding: 0;
    width: 100%;
  }
}

.extraDay {
  position: relative;
}

.removeLastDay {
  position: absolute;
  top: 0;
  right: 24px;
  border: none;
}

.workspaces {
  margin: 0 24px;
  @media (--viewportMedium) {
    margin: 0;
  }
}

.fieldInput{
  margin: auto;
  width: 90%;
  padding: 5px;
  @media (--viewportMedium) {
    width: 100%;
  }
}

.availsBox {
  margin: 10px 0;
  padding: 0 24px;
  @media (--viewportMedium) {
    padding: 0;
  }
}
.availsTitle {
  margin: 0;
  font-size: 16px;
}
.availsItem {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #888787;
}
.availsString {
  font-size: 16px;
  line-height: 1.3;
  color: #888787;
}

.extraDays {
  margin: 20px 0 0;
}

.rentalTypeWrapper {
  margin: 10px 0;
  padding: 0 24px;
  @media (--viewportMedium) {
    padding: 0;
  }
}

.DateMonthPicker {
  padding: 0 24px;
  @media (--viewportMedium) {
    padding: 0;
  }
}

.DateMonthPicker {
  & :global(.SingleDatePickerInput) {
    width: auto;
    margin: 0;
  }
  & :global(.DateInput input) {
    padding: 5px 0 10px 0;
    border-bottom-width: 3px;
  }
}


option.paymentMethodSlightGray {
  color: #777;
}